body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* background-color: rgb(255, 232, 232);brbb */
}

hr {
    max-width: 100%; /* Make the horizontal rule responsive */
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 100%; /* Make the board container responsive */
    max-width: 350px; /* Limit the maximum width */
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 2px solid lightgray;
    width: 14%; /* Adjust the width for responsiveness */
    height: 0;
    padding-bottom: 14%; /* Maintain a square aspect ratio */
    margin: 1%;

    /* Text */
    color: black;
    font-size: 3vw; /* Responsive font size based on viewport width */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard-row {
    width: 100%; /* Make the keyboard row container responsive */
    max-width: 400px; /* Limit the maximum width */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile, .enter-key-tile {
    width: 14%; /* Adjust the width for responsiveness */
    height: 0;
    padding-bottom: 14%; /* Maintain a square aspect ratio */
    margin: 1%;
    border: 1px solid lightgray;

    /* Text */
    font-size: 2vw; /* Responsive font size based on viewport width */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
